
---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import Layout from '../layouts/BaseLayout.astro';
import ArticleList from '../components/ArticleList.astro';

export async function getStaticPaths() {
  return [
  {params: {slug: 'stories' }},
  {params: {slug: 'recollections'}},
  {params: {slug: 'obituaries'}},
  ];
}

const { slug } = Astro.params;
const posts = (await getCollection('blog'))
  .filter((p) => p.data.tags.includes(slug || ''))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout 
  title={SITE_TITLE} 
  description={SITE_DESCRIPTION} 
>
      <h2 class="mb-0 uppercase">
        {slug} 
      </h2>
      <ArticleList posts={posts} />
</Layout>
