---
---
<div class="w-full bg-white shadow flex flex-col my-4 p-6">
  <img class="mx-auto" src='/Craddock-logo.jpg' /> 
  <p class="pt-4 pb-2">The Craddock family has a long and distinguished history. To keep track of it all, we created a family wiki. Check it out and add to it where you can.</p>
    <a href="http://wiki.craddock.org" target="_blank" class="w-full bg-blue-600 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
        Get to know us
    </a>
</div>
        

