---
import type { CollectionEntry } from 'astro:content';
import ArticleItem from '../components/ArticleItem.astro';
import Pagination from '../components/Pagination.astro';

interface Props {
  posts: CollectionEntry<'blog'>[],
  previous: string,
  next: string,
}

const { posts, previous, next } = Astro.props;

---
<div class="mt-10 grid gap-10 md:grid-gols-2 lg:gap-10 xl:grid-cols-4">
		{
    posts.map((p: any) => {
    return (
    <ArticleItem post={p} />
      )})
    }
	</div>
  </div>
</div>
<Pagination previous={previous} next={next} />
