---
import { Icon } from 'astro-icon';
---
<nav class="hidden flex w-full border-t border-b bg-gray-100" x-data="{ open: false }">
    <div :class="open ? 'block': 'hidden'" class="w-full flex flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="container flex sm:flex-row text-md gap-10 font-semibold uppercase">
          <a href="/stories/" class="hover:bg-blue-500 rounded py-2 px-4 mx-2">Stories</a>
          <a href="/recollections" class="hover:bg-blue-500 rounded py-2 px-4 mx-2">Recollections</a>
          <a href="/obituaries" class="hover:bg-blue-500 rounded py-2 px-4 mx-2">Craddock Lore</a>
          <a href="/obituaries" class="hover:bg-blue-500 rounded py-2 px-4 mx-2">Rambling Roses</a>
          <a href="/obituaries" class="hover:bg-blue-500 rounded py-2 px-4 mx-2">Obituaries</a>
          <!-- span class="hidden container bg-red-100 w-100 flex justify-end gap-4 mx-2 ml-20 mt-2">
            <a class="align-bottom" href="https://facebook.com/groups/craddockmorris" target="_blank">
              <Icon class="h-6 w-6" name="logos:facebook" />
            </a>
            <a class="" href="https://twitter.com/craddockfamily" target="_blank">
              <Icon class="h-6 w-6" name="logos:twitter" />
            </a>
          </span -->
        </div>
    </div>
</nav>
