---
import type { CollectionEntry } from 'astro:content';
import Pagination from '../components/Pagination.astro';
import ArticleItem from '../components/ArticleItem.astro';

interface Props {
  posts: CollectionEntry<'blog'>[],
  previous: string,
  next: string,
}

const { posts, previous, next } = Astro.props;
---
<div class="container mx-auto px-5 py-0 lg:px-2 lg:pt-0">
  <div class="-m-0 flex flex-wrap md:-m-1">
    {
    posts.map((p: any) => {
    return (
        <ArticleItem post={p} />
      )})
    }
  </div>
</div>
<Pagination previous={previous} next={next} />
