---
import NavSidebar from './NavSidebar';
import HeaderLink from "./HeaderLink.astro";
---
<nav class="container flex justify-between px-4 py-4 mx-auto bg-blue-600">
  <div>
    <a
        class="my-1 mr-2 flex items-center font-bold text-white lg:mb-0 lg:mt-0"
        href="/">
        <img class="mr-2 h-6 hidden" src="/craddock-logo.png" alt="" loading="lazy" />
        <span class="px-2 font-large uppercase">Craddock Connection</span>
    </a>
  </div>
  <div class="hidden space-x-8 lg:flex text-white uppercase">
    <HeaderLink href="/articles">All</HeaderLink>
    <HeaderLink href="/recollections">Recollections</HeaderLink>
    <HeaderLink href="/lore">Lore</HeaderLink>
    <HeaderLink href="/rambling-rose">Rambling Roses</HeaderLink>
  </div>
  <NavSidebar client:only="react"/> 
</nav>
