---
const { images, slug } = Astro.props;
---
<div class="w-full bg-white shadow flex flex-col my-4 p-6">
    <p class="text-xl font-semibold pb-5">Photos</p>
    <div class="grid grid-cols-3 gap-3">
        { images && images.map((a: any) => {
          return (
            <a href={`/images/${slug}/${a}`} target="_new">
            <img class="hover:opacity-75" src={`/images/${slug}/${a}`} />
            </a>
          )
        })}
    </div>
</div>

