---
import { Icon } from 'astro-icon/components';
---
<div
  class="w-full block rounded-lg bg-white text-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
  <div
    class="border-b-2 border-black-100 px-6 py-3">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-black-800">
      Visit us on Social Media 
    </h5>
  </div>
  <div class="p-6">
    <div class="flex space-x-5 justify-center">
      <a class="align-bottom" href="https://videos.craddock.org" target="_blank">
        <Icon class="h-6 w-6" name="simple-icons:peertube" />
      </a>
      <a class="align-bottom" href="https://photos.craddock.org/" target="_blank">
        <Icon class="h-6 w-6" name="simple-icons:piwigo" />
      </a>
      <a class="align-bottom" href="https://facebook.com/groups/craddockmorris" target="_blank">
        <Icon class="h-6 w-6" name="logos:facebook" />
      </a>
      <a class="" href="https://twitter.com/craddockfamily" target="_blank">
        <Icon class="h-6" name="logos:twitter" />
      </a>
    </div>
  </div>
</div>
