---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import Wiki from '../pages/wiki.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Footer from '../components/Footer.astro';

const { title, description, images } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

  <body>
    <Header />
		<main class="container mx-auto flex flex-wrap py-1">
      <section class="w-full md:w-3/4 flex flex-col px-3">
          <article class="max-w-screen-xl prose prose-headings:h-8 prose-p:text-lg ">
			  	  <slot />
			    </article>
      </section>
      <aside class="w-full md:w-1/4 flex flex-col items-center px-3">
        <Wiki />
        <SocialMedia />
        { images && images.length > 1 && (
          <PhotoGallery images={images} /> 
        )}
      </aside>
		<Footer />
		</main>
	</body>
</html>
